/* .gallery-page {
    padding: 20px;
    height: 600px;
    background-position: center;
    background-size: cover;
   
  } */ 

  .gallery-page{
    padding: 2rem;
    background-position: center;
    min-height: 40vh;
  }