
* {
    box-sizing: border-box;
} 

body {
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f4f1ea;
}

.page-container {
    min-height: 100vh;
}

.page-header {
    min-height: 15vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #011dcb;
        font-family: 'Righteous',
        cursive;
        text-shadow: 5px 5px 10px rgb(255, 255, 255);
}