
.gallery-container {
  font-family: 'Roboto Condensed',
          sans-serif;
          font-size: large;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

    .artimg {
      max-width: 100%;
    }
  
    .artimg:hover {
      transform: scale(1.02);
    }