.home-page {
    display: flex;
    justify-content: center;
  }

  .card {
    margin-bottom: 24px;
    border-radius: 10px;
    box-shadow: -5px 12px 15px rgba(32, 25, 22, 0.638);
  }

  .card-body {
    list-style: none;
  }