

#art-card {
    margin-bottom: 24px;
    border-radius: 10px;
    box-shadow: -5px 12px 15px rgba(32, 25, 22, 0.638);
    min-width: 300px;
    position:relative;
}

#art-card:hover {
    transform: scale(1.1);
}

.card-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 30px 30px;
    margin: 2rem;

}

.card-text {
    font-size:larger;
    line-height: 24px;
}
