/* Footer style */

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #1c2d99;

  /* margin-top: auto;
  border-top: 2px solid black;
  padding: 8px; */
}

footer li {
  display: inline;
  font-size: 3rem;
  padding: 1rem;
  color: white;
  

}
